#title {
  background-color:#678983;
color:#E6DDC4;



}

h1 {

  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 1.5;
}

.container-fluid {
  padding:3% 15% 20% 15%;
}
h2{
  font-family: "montserrat";
  font-weight:bold;
  font-size:3rem;
  line-height:1.5;
}
h3{
  size:1.5rem;
  color:black;
  font-weight:900;
}
body{
font-family:'Montserrat';}
/* navbar */
.navbar-brand{
  color:#E6DDC4;
   font-family:'Ubuntu';
    font-size:28px;
    /* font-weight:bold; */
}
.navbar
{padding:0 0 4.5rem;}
.nav-item{
  padding:0 10px ;
}
.nav-item{
  padding:0 18px;
}
.nav-link{
  font-size:1.2rem;
  font-family:"montserrat";
}
/* download buttons */
.download-btn{
  margin:5% 3% 5% 0;
}
/* title image */


.feature-box{

  text-align: center;
  padding:5%;
}
p{
  color:grey;
}
.icon{
  color:#678983;
  margin-bottom:1rem;
}
.icon:hover{
  color:#10A19D;
}
/* features */
.title-image{
  width:50%;
 position:absolute;
  transform:rotate(25deg);
  top:200px;
  right:230px;


}

#features{
  background-color:#fff;
  position:relative;
  z-index:1;

  }
/* testmonials */
#testimonials{

  text-align:center;
  background-color:#678983;
  color:#fff;

}
.testimonial-img{
 border-radius:100%;
 width:10%;
 margin:20px 20px 0 20px;
}
#press{
background-color:#678983;
text-align:center;
padding-bottom:3%;
}
.press-img{
  width:15%;
  margin:20px 20px 50px;

}
.carousel-item{
  padding:7% 20%;
}
.container{
  text-align:center;}
/* pricing */
#pricing{
  padding:50px;
}
.pricing-colo{
  padding:3%;
}
/* footer */
#cta{
  background-color:#678983;
  text-align:center;
  padding:5rem;
}
#footer{
  background-color:#678983;
}
.foot{
  text-align:center;
  color:black;
  padding:3rem;
  margin:0;
}
